.main-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: url(bg.jpg); */
    text-align: center;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
}
.container{
    /* position: relative; */
    width: 400px;
    background-color: whitesmoke;
    padding: 60px 40px;
}
.container .header-font{
    font-size: 40px;
    margin-bottom: 60px;

}
.input-field, .form-intro .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}
.input-field .input-style {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px ;
    outline: none;
    font-size: 19px;
    transition: .4s;
}
.input-style:focus{
    border: 1px solid #1DA1F2;
    /* width: 500px; */
    background-color: rgb(22, 209, 200);
    color: rgb(0, 0, 0);

}

.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
    font-size: 18px;
    transition: .4s;
}
.input-style:focus ~ label,
.input-style:valid ~ label{
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: #1DA1F2;
}
.from-button{
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
}
.button .inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
   
}
.button .from-button{
    width: 100%;
    height: 100%;
    border: #00dbde;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    color: whitesmoke;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}
.register-btn{
    margin-top: 20px;
    text-decoration: none;
    color: #fc00ff;
    
}